<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Fantasy Football Draft Board</title>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body class="{{ username }}">
        <header>
            <div>
                <a class="back-login" href="{{ url_for('login') }}">Back</a>
            </div>
            <div class="update-data">
                <button type="button" class="update-rankings-button">Update Rankings</button>
                <div class="popup-background">
                    <span class="background-helper"></span>
                    <div class="popup-content">
                        <p>Choose your league's scoring settings below.
                        <br/>It will take about 5 minutes to download everything.</p>
                        <button class="popup-scoring-button" value="standard">Standard</button>
                        <button class="popup-scoring-button" value="half">Half PPR</button>
                        <button class="popup-scoring-button" value="ppr">Full PPR</button>
                        <button class="popup-cancel-button">Cancel</button>
                    </div>
                </div>
                <div class="loader">
                    <img class="loader-image" src="/static/img/ajax-loader.gif" alt="Loading..." />
                </div>
            </div>
        </header>
        <main>
            <div class="player-details">
                <img class="player-pic" id="{{ player_id }}" src="{{ img_url }}" onerror="this.src='https://images.fantasypros.com/images/photo_missing_square.jpg'">
                <div class="player-stats">
                    {{ player_details | safe }}
                </div>
                <button type="button" id="draft-undraft-button" class="0">Draft Selected Player</button>
            </div>
            <div class="board-container">
                <div class="available-drafted-container">
                    <button type="button" class="available-button">Available Players</button>
                    <button type="button"  class="drafted-button">Drafted Players</button>
                </div>
                <div class="position-team-player-search">
                    <p>Position:</p>
                    <select class="position-dropdown">
                        <option selected value="ALL">ALL</option>
                        <option value="QB">QB</option>
                        <option value="RB">RB</option>
                        <option value="WR">WR</option>
                        <option value="TE">TE</option>
                        <option value="K">K</option>
                        <option value="DST">DST</option>
                    </select>
                    <p>Team:</p>
                    <select class="team-dropdown">
                        <option selected value="ALL">ALL</option>
                        <option value="ARI">ARI</option>
                        <option value="ATL">ATL</option>
                        <option value="BAL">BAL</option>
                        <option value="BUF">BUF</option>
                        <option value="CAR">CAR</option>
                        <option value="CHI">CHI</option>
                        <option value="CIN">CIN</option>
                        <option value="CLE">CLE</option>
                        <option value="DAL">DAL</option>
                        <option value="DEN">DEN</option>
                        <option value="DET">DET</option>
                        <option value="FA">FA</option>
                        <option value="GB">GB</option>
                        <option value="HOU">HOU</option>
                        <option value="IND">IND</option>
                        <option value="JAC">JAC</option>
                        <option value="KC">KC</option>
                        <option value="LAC">LAC</option>
                        <option value="LAR">LAR</option>
                        <option value="MIA">MIA</option>
                        <option value="MIN">MIN</option>
                        <option value="NE">NE</option>
                        <option value="NO">NO</option>
                        <option value="NYG">NYG</option>
                        <option value="NYJ">NYJ</option>
                        <option value="OAK">OAK</option>
                        <option value="PHI">PHI</option>
                        <option value="PIT">PIT</option>
                        <option value="SEA">SEA</option>
                        <option value="SF">SF</option>
                        <option value="TB">TB</option>
                        <option value="TEN">TEN</option>
                        <option value="WAS">WAS</option>
                    </select>
                    <input type="search" placeholder="Player Search" class="player-search">
                    <button type="button"  class="clear-search-button">Clear Search</button>
                </div>
                <div class="draft-board">
                    {{ board | safe }}
                </div>
            </div>
        </main>
        <footer>
            <p class="footer">Made by <a href="https://www.linkedin.com/in/mengeling/" target="_blank">Michael Engeling</a>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
	</body>
</html>
