<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Data Refresh Page</title>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body>
        <header>
        </header>
        <main>
            <div class="player-details">
                <img class="player-pic" src="{{ url_for('static', filename=img_path) }}">
                <div class="player-stats">
                    {{ player_details | safe }}
                </div>
                <button type="button" class="draft-button">DRAFT PLAYER</button>
            </div>
            <div class="position-player-search">
                <select class="position-dropdown">
                    <option value="ALL">ALL</option>
                    <option value="QB">QB</option>
                    <option value="RB">RB</option>
                    <option value="WR">WR</option>
                    <option value="TE">TE</option>
                    <option value="K">K</option>
                    <option value="DST">DST</option>
                </select>
                <input type="search" placeholder="Search..." class="search">
            </div>
            <div class="draft-board">
                {{ board | safe }}
            </div>
        </main>
        <footer>
            <p class="footer">Made by <a href="https://www.linkedin.com/in/mengeling/" target="_blank">Michael Engeling</a>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
	</body>
</html>
