<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Fantasy Football Draft Board</title>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="shortcut icon" type="image/gif" class="logo" href="/static/img/favicon.png">
	</head>
	<body class="mike">
        <header>
            <div class="login-background">
                <span class="login-helper"></span>
                <div class="login-content">
                    <p>Enter Your Full Name</p>
                    <div class="username-div">
                        <input type="search" placeholder="First and Last Name" class="username-input" autofocus="autofocus">
                    </div>
                    <button type="button"  class="login-button">View My Draft Board</button>
                </div>
            </div>
            <div class="download-background">
                <span class="download-helper"></span>
                <div class="download-content">
                    <p>No draft boards exist under that name.</br>
                        Choose a scoring option to create a board.</p>
                    <button class="login-scoring-button" value="standard">Standard</button>
                    <button class="login-scoring-button" value="half">Half PPR</button>
                    <button class="login-scoring-button" value="ppr">Full PPR</button>
                    <button class="login-cancel-button">Cancel</button>
                </div>
            </div>
            <div class="back-update-data">
                <button class="back-login-button">Back</button>
                <button type="button" class="update-rankings-button">Update Rankings</button>
                <p class="refresh-date">{{ refresh_date }}</p>
                <div class="popup-background">
                    <span class="background-helper"></span>
                    <div class="popup-content">
                        <p>Choose your league's scoring settings below.
                        <br/>It might take up to 10 minutes to download everything.</p>
                        <button class="popup-scoring-button" value="standard">Standard</button>
                        <button class="popup-scoring-button" value="half">Half PPR</button>
                        <button class="popup-scoring-button" value="ppr">Full PPR</button>
                        <button class="popup-cancel-button">Cancel</button>
                    </div>
                </div>
                <div class="loader">
                    <img class="loader-image" src="/static/img/loader.gif" alt="Loading..." />
                </div>
            </div>
        </header>
        <main>
            <div class="player-details">
                <div class="player-pic-container">
                    <img class="player-pic" id="{{ id }}" src="{{ img_url }}" onerror="this.src='https://images.fantasypros.com/images/photo_missing_square.jpg'">
                </div>
                <div class="player-bio-container">
                    <h3 class="player-name">{{ name }}</h3>
                    <h5 class="player-team-pos">{{ team }} {{ position }}</h5>
                    <div class="player-bio-sub">
                        <p class="player-detail-desc">Height</p><p class="player-detail-height">{{ height }}</p>
                        <p class="player-detail-desc">Age</p><p class="player-detail-age">{{ age }}</p>
                    </div>
                    <div class="player-bio-sub">
                        <p class="player-detail-desc">Weight</p><p class="player-detail-weight">{{ weight }}</p>
                        <p class="player-detail-desc">College</p><p class="player-detail-college">{{ college }}</p>
                    </div>
                </div>
                <div class="draft-undraft-container">
                    <button type="button" id="draft-undraft-button" class="0">Draft Selected Player</button>
                </div>
                <div class="player-tables">
                    <div class="player-table">
                        <h4 class="rank-header">Rankings</h4>
                        <div class="rank-table">
                            {{ rankings | safe }}
                        </div>
                    </div>
                    <div class="player-table">
                        <h4 class="stats-header">Previous Stats</h4>
                        <div class="stats-table">
                            {{ stats | safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="board-container">
                <div class="available-drafted-container">
                    <span class="available-button">Available Players</span>
                    <span class="drafted-button">Drafted Players</span>
                </div>
                <div class="search-board-wrapper">
                    <div class="position-team-player-search">
                        <span class="position-text">Position:</span>
                        <select class="position-dropdown">
                            <option selected value="ALL">ALL</option>
                            <option value="QB">QB</option>
                            <option value="RB">RB</option>
                            <option value="WR">WR</option>
                            <option value="TE">TE</option>
                            <option value="K">K</option>
                            <option value="DST">DST</option>
                        </select>
                        <span class="team-text">Team:</span>
                        <select class="team-dropdown">
                            <option selected value="ALL">ALL</option>
                            <option value="ARI">ARI</option>
                            <option value="ATL">ATL</option>
                            <option value="BAL">BAL</option>
                            <option value="BUF">BUF</option>
                            <option value="CAR">CAR</option>
                            <option value="CHI">CHI</option>
                            <option value="CIN">CIN</option>
                            <option value="CLE">CLE</option>
                            <option value="DAL">DAL</option>
                            <option value="DEN">DEN</option>
                            <option value="DET">DET</option>
                            <option value="FA">FA</option>
                            <option value="GB">GB</option>
                            <option value="HOU">HOU</option>
                            <option value="IND">IND</option>
                            <option value="JAC">JAC</option>
                            <option value="KC">KC</option>
                            <option value="LAC">LAC</option>
                            <option value="LAR">LAR</option>
                            <option value="MIA">MIA</option>
                            <option value="MIN">MIN</option>
                            <option value="NE">NE</option>
                            <option value="NO">NO</option>
                            <option value="NYG">NYG</option>
                            <option value="NYJ">NYJ</option>
                            <option value="OAK">OAK</option>
                            <option value="PHI">PHI</option>
                            <option value="PIT">PIT</option>
                            <option value="SEA">SEA</option>
                            <option value="SF">SF</option>
                            <option value="TB">TB</option>
                            <option value="TEN">TEN</option>
                            <option value="WAS">WAS</option>
                        </select>
                        <input type="search" placeholder="Player Search" class="player-search">
                        <button type="button"  class="clear-search-button">Clear Search</button>
                    </div>
                    <div class="table-wrapper">
                        <div class="draft-board">
                            {{ board | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <p class="footer">Made by <a href="https://www.linkedin.com/in/mengeling/" target="_blank">Michael Engeling</a>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
	</body>
</html>
