<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Fantasy Football Draft Board</title>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body>
        <div class="login-background">
            <span class="login-helper"></span>
            <div class="login-content">
                <p>Enter Your Full Name</p>
                <input type="search" placeholder="First and Last Name" class="username-input">
                <button type="button"  class="login-button">View My Draft Board</button>
            </div>
        </div>
        <div class="download-background">
            <span class="download-helper"></span>
            <div class="download-content">
                <p>No draft boards exist under that name.</br>
                    Choose a scoring option to create a board under that name</p>
                <button class="login-scoring-button" value="standard">Standard</button>
                <button class="login-scoring-button" value="half">Half PPR</button>
                <button class="login-scoring-button" value="ppr">Full PPR</button>
                <button class="login-back-button">Back</button>
            </div>
        </div>
        <div class="loader">
            <img class="loader-image" src="/static/img/ajax-loader.gif" alt="Loading..." />
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
	</body>
</html>
